@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first {
  background-image: url(../images/bg-top_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 43px 135px 110px 136px;
}

@media screen and (max-width: 768px) {
  .first {
    padding: 30px 15px;
  }
}

.first header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 103px;
}

.first header .logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #fff;
  display: inline-block;
}

.first header .logo:hover {
  color: #008ed6;
}

.first header nav {
  display: block;
  padding: 0;
  margin: 0;
}

.first header nav .menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.first header nav .menu li {
  display: inline-block;
  padding-bottom: 13px;
  margin-left: 23px;
}

.first header nav .menu li a {
  text-decoration: none;
  color: #fffefe;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  display: block;
}

.first header nav .menu li:after {
  content: url("../images/line_03.png");
  display: block;
  margin: 0 auto;
  opacity: 0;
}

.first header nav .menu li:hover:after {
  opacity: 1;
}

.first header nav .wrapper {
  max-width: 1024px;
  padding: 10px;
  margin: 0px auto;
}

.first header nav .wrapper .menuToggle {
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}

@media (max-width: 640px) {
  .first header nav .wrapper .menuToggle {
    display: block;
  }
  .first header nav .wrapper .menu {
    display: none;
    position: absolute;
    overflow: hidden;
    margin-left: -65px;
  }
  .first header nav .wrapper .menu li {
    display: block;
  }
}

.first header nav .wrapper .icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.first header nav .wrapper .icon .hamburger {
  width: 40px;
  height: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  margin-left: 12px;
}

.first header nav .wrapper .icon .hamburger:before,
.first header nav .wrapper .icon .hamburger:after {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first header nav .wrapper .icon .hamburger:before {
  top: -16px;
}

.first header nav .wrapper .icon .hamburger:after {
  top: 16px;
}

.first header nav .wrapper .icon .icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.first header nav .wrapper .icon .icon.active .hamburger:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.first header nav .wrapper .icon .icon.active .hamburger:after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.title {
  max-width: 490px;
}

.title h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #008ed6;
  margin-bottom: 30px;
}

.title h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  margin-bottom: 28px;
}

@media (max-width: 1100px) {
  .title h1 {
    font-size: 30px;
  }
}

.title p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  line-height: 26px;
  margin-bottom: 63px;
}

.title button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 19px 0 19px;
  border: 1px solid #454449;
  width: 160px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  text-align: center;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1100px) {
  .title button {
    margin-bottom: 15px;
  }
}

.title button:hover {
  background-color: #008ed6;
  border: none;
}

.list {
  padding: 66px 155px 78px;
  border-bottom: 1px solid #ededed;
}

@media (max-width: 1100px) {
  .list {
    padding: 15px;
  }
}

.list h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #008ed6;
  text-align: center;
}

.list h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 73px;
}

.list h3:after {
  content: url("../images/line_03.png");
  display: block;
}

@media (max-width: 1100px) {
  .list .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list .d-flex .item {
  margin: 0 20px 0;
}

@media (max-width: 1100px) {
  .list .d-flex .item {
    margin-bottom: 30px;
  }
}

.list .d-flex .item .circle {
  width: 90px;
  height: 90px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin: 0 auto 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.list .d-flex .item .circle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list .d-flex .item .circle img {
  display: block;
  margin: auto;
}

.list .d-flex .item h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 17px;
}

.list .d-flex .item p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  text-align: center;
}

.device {
  padding: 66px 230px 20px 156px;
}

@media (max-width: 1100px) {
  .device {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
  }
}

.device img {
  margin-right: 74px;
  width: 100%;
  display: block;
}

@media (max-width: 1100px) {
  .device img {
    padding: 15px;
  }
}

.device h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #008ed6;
  margin: 55px 0 22px;
}

.device h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 31px;
}

.device h3:after {
  content: url("../images/line_03.png");
  display: block;
}

.device p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  margin-bottom: 42px;
}

.device .listing {
  font-size: 18px;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.device .listing i {
  margin-right: 17px;
  color: #0b93d8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.device .listing i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.customize {
  padding: 47px 136px 45px 137px;
  background-color: #f2f2f2;
}

@media (max-width: 1100px) {
  .customize {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
  }
}

.customize img {
  margin-left: 15px;
  width: 100%;
  display: block;
}

@media (max-width: 1100px) {
  .customize .art {
    width: 100%;
  }
}

.customize .art h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #008ed6;
  margin: 86px 0 24px;
}

.customize .art h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #1a1a1a;
  margin-bottom: 31px;
}

.customize .art h3:after {
  content: url("../images/line_03.png");
  display: block;
}

.customize .art p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
  margin-bottom: 30px;
}

.carousel {
  background-image: url(../images/bg-middle_10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 135px 60px;
}

.carousel h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #008ed6;
  text-align: center;
}

.carousel h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #1a1a1a;
  color: #fff;
  text-align: center;
  margin-bottom: 95px;
}

.carousel h3:after {
  content: url("../images/line_03.png");
  display: block;
}

.carousel .item {
  margin: 23px;
}

.carousel .item p {
  font-size: 24px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.carousel .item .d-flex {
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .item .d-flex img {
  width: 59px;
  margin-right: 24px;
}

.carousel .item .d-flex p {
  font-size: 15px;
}

.carousel .owl-dots .owl-dot {
  outline: none;
}

.carousel .owl-dots .owl-dot .owl-dots .owl-dot span {
  display: inline-block;
  background-color: #021725;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
}

.carousel .owl-dots .owl-dot .owl-dots .owl-dot span .owl-dots .owl-dot.active span {
  background-color: #505d68;
}
/*# sourceMappingURL=style.css.map */