@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "owl.carousel.css";
@import "owl.theme.default.css";

@mixin h4() {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #008ed6;
	
}
@mixin h3() {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #1a1a1a;
	
}
@mixin p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #999999;
}
@mixin max-screen($res) {
	@media screen and (max-width: $res) {
	  @content;
	}
 }

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.d-flex{
	display: flex;
}
.first{
	background-image: url(../images/bg-top_01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 43px 135px 110px 136px;
	@include max-screen(768px) {
		padding: 30px 15px;
	 }
	header{
		justify-content: space-between;
		align-items: center;
		margin-bottom: 103px;
		.logo{
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Quicksand', sans-serif;
			font-size: 24px;
			color: #fff;
			display: inline-block;
			&:hover{
				color: #008ed6;
			}
		}

		//****BURGER MENU***//
		nav{
			display: block;
			padding: 0;
			margin: 0;
		   .menu{
			list-style-type: none;
			padding: 0;
			margin-top: 20px;
			li{
				display: inline-block;
				padding-bottom: 13px;
				margin-left: 23px;
				a{
					text-decoration: none;
					color: #fffefe;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 600;
					display: block;
				 }
				 &:after{
					content: url("../images/line_03.png");
					display: block;
					margin: 0 auto;
					opacity: 0;						
					}
					&:hover{
						&:after{
							opacity: 1;
						}
					}
			 }
		 }
	 
		 .wrapper{
			max-width: 1024px;
			padding: 10px;
			margin: 0px auto;
		 	.menuToggle{  
			  color: #fff;
			  padding: 10px 15px;
			  cursor: pointer;
			  display: none;
		 	}
		 	 @media( max-width: 640px){
			  	.menuToggle{
					display: block;
			  }
			  .menu{
					display: none;
					position: absolute;
					overflow: hidden;
					// width: 100%;
					margin-left: -65px;
					
					li{
					display: block;
					
			  		}
				}
		 	}	 
			 .icon {
			  width: 25px;
			  height: 25px;
			  cursor: pointer;
		 	  .hamburger {
			  width: 40px;
			  height: 4px;
			  transform: translate(-50%, -50%);
			  background: #fff;
			  transition: 0.5s;
			  display: inline-block;
			  margin-left: 12px;
		 	  }		 
		 		.hamburger:before,
		 		.hamburger:after {
			  		content: "";
			  	   width: 40px;
			 		height: 4px;
			  		position: absolute;
			 		background: #fff;
			 		transition: 0.5s;
					}		 
					.hamburger:before {
						top: -16px;
					}
		 		 		.hamburger:after {
			  		top: 16px;
		 			}
					.icon.active .hamburger {
						background: rgba(0, 0, 0, 0);
					}		 
					.icon.active .hamburger:before {
			  			top: 0;
			  			transform: rotate(45deg);
			 		}		 
		 			.icon.active .hamburger:after {
			  		top: 0;
			 		transform: rotate(135deg);
		 			}
				}
			}
		}
	}		
}
	.title{
		max-width: 490px;
		h4{
			@include h4;
			margin-bottom: 30px;
		}
		h1{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			font-size: 48px;
			color: #fff;
			margin-bottom: 28px;	
		}
		p{
			@include p;
			line-height: 26px;
			margin-bottom: 63px;
		}
		button{
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			padding: 19px 0 19px;
			border: 1px solid #454449;
			width: 160px;
			background-color: rgba(0, 0, 0, 0);
			border-radius: 3px;;
			text-align: center;
			margin-right: 20px;
			transition: 0.3s;
			&:hover{
				background-color: #008ed6;	
				border: none;
			}
		}
	}
	
.list{
	padding: 66px 155px 78px;
	h4{
		@include h4;
		text-align: center;
	}
	h3{
		@include h3;
		text-align: center;
		&:after{
			content: url("../images/line_03.png");
			display: block;
			margin: 35px auto 0;
		}
	}
		
}